@import "mixins";

$white: #fff;
$green: #43A047;
$darkGreen: #388E3C;
$blue: #1976D2;
$darkBlue: #0D47A1;
$red: #d32f2f;
$darkRed: #b71c1c;
$grey: #9E9E9E;
$lightGray: #BDBDBD;
$darkGray: #757575;
$blueGray: #37474F;
$transparent: #9e9e9e;
$shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
$font-size: 22px;
$font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: $lightGray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $font-family;
}

@media (min-width: 1200px) {
    .image-container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .image-container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .image-container {
        max-width: 720px;
    }
}

.image-container {
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;

    @include clearFix;

    .image {
        float: left;
        width: 22%;
        margin-right: 1%;
        margin-bottom: 1%;
        background: $white;
        padding: 5px;

        img {
            width: 100%;
            height: 150px;
        }
    }
}

.model {
    background: $grey;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 999;

    .model-container {
        background: $white;
        padding: 10px;
        max-width: 50%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
}

.input {
    padding: 2px 10px;

    input {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid $lightGray;
        box-sizing: border-box;
    }

    .lable {
        font-size: 13px;
    }
}

.submit-button {
    padding: 2px 10px;
    
    button {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        display: inline-block;
        background-color: $green;
        color: $white;
        border: none;
        cursor: pointer;
    }
    
    button:hover {
        background-color: $darkGreen;
    }
}

.update-button {
    float: right;
    padding: 0px 2px;

    button {
        width: 100%;
        height: 35px;
        padding: 10px;
        background-color: $darkBlue;
        color: $white;
        border: none;
        cursor: pointer;
    }
    
    button:hover {
        background-color: $blue;
    }
}

.cancel-button {
    float: right;
    padding: 0px 2px;

    button {
        width: 100%;
        height: 35px;
        padding: 10px;
        background-color: $darkRed;
        color: $white;
        border: none;
        cursor: pointer;
    }
    
    button:hover {
        background-color: $red;
    }
}

.alert {
    background: $blueGray;
    color: $white;
    text-align: center;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0px 15px;
    position: relative;
    z-index: 9999;
}

.spinner {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.spinner:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $white;
    border-color: $white transparent $white transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
